@keyframes ldio-c6ylgqy0bib {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-c6ylgqy0bib div {
  left: 95.545px;
  top: 22.655px;
  position: absolute;
  animation: ldio-c6ylgqy0bib linear 0.9174311926605504s infinite;
  background: #fe718d;
  width: 5.91px;
  height: 41.37px;
  border-radius: 2.955px / 20.685px;
  transform-origin: 2.955px 75.845px;
}.ldio-c6ylgqy0bib div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -0.8834522595990485s;
   background: #fe718d;
 }.ldio-c6ylgqy0bib div:nth-child(2) {
    transform: rotate(13.333333333333334deg);
    animation-delay: -0.8494733265375466s;
    background: #fe718d;
  }.ldio-c6ylgqy0bib div:nth-child(3) {
     transform: rotate(26.666666666666668deg);
     animation-delay: -0.8154943934760448s;
     background: #fe718d;
   }.ldio-c6ylgqy0bib div:nth-child(4) {
      transform: rotate(40deg);
      animation-delay: -0.7815154604145429s;
      background: #fe718d;
    }.ldio-c6ylgqy0bib div:nth-child(5) {
       transform: rotate(53.333333333333336deg);
       animation-delay: -0.747536527353041s;
       background: #fe718d;
     }.ldio-c6ylgqy0bib div:nth-child(6) {
        transform: rotate(66.66666666666667deg);
        animation-delay: -0.7135575942915392s;
        background: #fe718d;
      }.ldio-c6ylgqy0bib div:nth-child(7) {
         transform: rotate(80deg);
         animation-delay: -0.6795786612300373s;
         background: #fe718d;
       }.ldio-c6ylgqy0bib div:nth-child(8) {
          transform: rotate(93.33333333333333deg);
          animation-delay: -0.6455997281685354s;
          background: #fe718d;
        }.ldio-c6ylgqy0bib div:nth-child(9) {
           transform: rotate(106.66666666666667deg);
           animation-delay: -0.6116207951070336s;
           background: #fe718d;
         }.ldio-c6ylgqy0bib div:nth-child(10) {
            transform: rotate(120deg);
            animation-delay: -0.5776418620455317s;
            background: #fe718d;
          }.ldio-c6ylgqy0bib div:nth-child(11) {
             transform: rotate(133.33333333333334deg);
             animation-delay: -0.5436629289840298s;
             background: #fe718d;
           }.ldio-c6ylgqy0bib div:nth-child(12) {
              transform: rotate(146.66666666666666deg);
              animation-delay: -0.509683995922528s;
              background: #fe718d;
            }.ldio-c6ylgqy0bib div:nth-child(13) {
               transform: rotate(160deg);
               animation-delay: -0.4757050628610261s;
               background: #fe718d;
             }.ldio-c6ylgqy0bib div:nth-child(14) {
                transform: rotate(173.33333333333334deg);
                animation-delay: -0.44172612979952425s;
                background: #fe718d;
              }.ldio-c6ylgqy0bib div:nth-child(15) {
                 transform: rotate(186.66666666666666deg);
                 animation-delay: -0.4077471967380224s;
                 background: #fe718d;
               }.ldio-c6ylgqy0bib div:nth-child(16) {
                  transform: rotate(200deg);
                  animation-delay: -0.3737682636765205s;
                  background: #fe718d;
                }.ldio-c6ylgqy0bib div:nth-child(17) {
                   transform: rotate(213.33333333333334deg);
                   animation-delay: -0.33978933061501865s;
                   background: #fe718d;
                 }.ldio-c6ylgqy0bib div:nth-child(18) {
                    transform: rotate(226.66666666666666deg);
                    animation-delay: -0.3058103975535168s;
                    background: #fe718d;
                  }.ldio-c6ylgqy0bib div:nth-child(19) {
                     transform: rotate(240deg);
                     animation-delay: -0.2718314644920149s;
                     background: #fe718d;
                   }.ldio-c6ylgqy0bib div:nth-child(20) {
                      transform: rotate(253.33333333333334deg);
                      animation-delay: -0.23785253143051305s;
                      background: #fe718d;
                    }.ldio-c6ylgqy0bib div:nth-child(21) {
                       transform: rotate(266.6666666666667deg);
                       animation-delay: -0.2038735983690112s;
                       background: #fe718d;
                     }.ldio-c6ylgqy0bib div:nth-child(22) {
                        transform: rotate(280deg);
                        animation-delay: -0.16989466530750932s;
                        background: #fe718d;
                      }.ldio-c6ylgqy0bib div:nth-child(23) {
                         transform: rotate(293.3333333333333deg);
                         animation-delay: -0.13591573224600745s;
                         background: #fe718d;
                       }.ldio-c6ylgqy0bib div:nth-child(24) {
                          transform: rotate(306.6666666666667deg);
                          animation-delay: -0.1019367991845056s;
                          background: #fe718d;
                        }.ldio-c6ylgqy0bib div:nth-child(25) {
                           transform: rotate(320deg);
                           animation-delay: -0.06795786612300372s;
                           background: #fe718d;
                         }.ldio-c6ylgqy0bib div:nth-child(26) {
                            transform: rotate(333.3333333333333deg);
                            animation-delay: -0.03397893306150186s;
                            background: #fe718d;
                          }.ldio-c6ylgqy0bib div:nth-child(27) {
                             transform: rotate(346.6666666666667deg);
                             animation-delay: 0s;
                             background: #fe718d;
                           }
.loadingio-spinner-spinner-y6aebfjgw3j {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-c6ylgqy0bib {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
